
.div{
    background-color: rgb(65, 25, 25);
    color: aqua;
    width: 1400px;
    height: 170px;
    text-align: center;
}

#dept{
    background-color: rgb(219, 219, 149);
    color: brown;
    width: 1400px;
    height: 170px;
    text-align: center;
}

