*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.div{
    background-color: rgb(110, 104, 104);
    width: 1400px;
    height: 150px;
}

#foot{
    background-color: black;
    color: gray;
    height: 30px;
}